<%- include ('./layout/header.ejs') %>
<%- include('./layout/sidebar.ejs') %>    

<div class="principal-content">
    <div class="background">
        <div class="container-title">
            <h1 class="title">Welcome to</h1>
            <h2 class="title-name">Yoga Management Studio</h2>
        </div>
    </div>
    <div class="content">
        <h2 class="title-highlight">*What we offer?</h2>
        <h2 class="title-highlight">*About Us?</h2>
        <h2 class="title-highlight">*Contact</h2>
    </div>
    <!-- <img src="/images/yoga.jpg" alt="" width="500px"> -->
</div>


<%- include ('./layout/footer.ejs')-%>