<%- include ('header.ejs')-%>
    
    <div class="container-nav">
        <div class="nav-logo">
            <a href="/" class="link-logo" >
                <img src="/images/logo.png" width="100px" height="100px" class="logo" alt="logo of a yoga practioner">
            </a>
        </div>
        <div class="nav-filter">

        </div>
    </div>
    <div class="side-bar">
        <a href="" class="side-item">Students</a>
        <a href="" class="side-item">Notifications</a>
        <a href="" class="side-item">Payments</a>
    </div>
    <div class="principal-content">

    </div>
    
<%- include ('footer.ejs')-%>