<%- include ('./layout/header.ejs') %>
<%- include('./layout/sidebar.ejs') %>    

<div class="container-opacity"></div>
<div class="principal-content">
    <div class="box-warning">
        <h4 class="message">Are you certain about it?</h4>
        <div class="buttons-warning">
            <buttons class="warning-yes">Yes</buttons>
            <buttons class="warning-no">No</buttons>
        </div>
    </div>
    <form action="/student/<%- id %>" method="post">
        <div class="student">
            <div class="buttons-container">
                <button class="buttons icon-edit button-edit">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                    Edit
                </button>
                <button class="buttons icon-delete button-delete">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                    Delete
                </button>
            </div>
            <div class="personal-information">
                <span class="img-profile"></span>
                <div class="personal-container">
                    <input class="input-edit name" type="text" name="name">
                    <div class="labels">
                        <label for="birthdate">Birthday:</label>
                        <input class="input-edit birthdate" type="date" name="birthdate"  min="1997-01-01" max="2030-12-31">
                    </div>
                    <div class="labels">
                        <label for="email">Email:</label>
                        <input class="input-edit email" type="text" name="email" id="" placeholder="">
                    </div>
                    <div class="labels">
                        <label for="phone">Phone:</label>
                        <input class="input-edit phone" type="text" name="phone" id="" placeholder="">
                    </div>
                </div>
                <div class="personal-container">
                    <span class="age">
                        <h4 class="age">23 Years</h4>
                    </span>
                    <div class="labels genre">
                        <label for="genre">Genre</label>
                        <select class="genre-input" name="genre" disabled>
                            <option value="male">Male</option> 
                            <option value="female" >Female</option>  
                        </select>
                    </div>
                    <div class="labels status">
                        <label for="status">Status</label>
                        <select name="status" class="status-input" disabled>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                            <option value="interested">Interested</option>
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="address">
                <h3 class="address-title title">Address</h3>
                <div class="address-container">
                    <div class="labels">
                        <label for="city">City:</label>
                        <input class="input-edit city" type="text" name="city" >
                    </div>
                    <div class="labels">
                        <label for="street">Street:</label>
                        <input class="input-edit street" type="text" name="street" id="" placeholder="">
                    </div>
                    <div class="labels">
                        <label for="state">State:</label>
                        <input class="input-edit state" type="text" name="state" id="" placeholder="">
                    </div>
                    <div class="labels">
                        <label for="number">Number:</label>
                        <input class="input-edit number" type="text" name="number" id="" placeholder="">
                    </div>
                </div>         
            </div>
            <div class="issues">
                <h3 class="issues-title title">Issues</h3>
                
                <div class="issues-container has-check check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="spine">Spine issues</label>
                        <div class="container-select">
                            <label for="spineYes">Yes</label>
                            <input type="checkbox" value="yes" name="spine" class="spine" disabled >
                            <label for="spineNo">No</label>
                            <input type="checkbox" value="no" name="spine" class="spine" disabled >
                        </div>
                    </div>
                    <textarea name="spine" class="spine" disabled></textarea>
                </div>

                <div class="issues-container has-check check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="surgery">Surgery</label>

                        <div class="container-select">
                            <label for="surgeryYes">Yes</label>
                            <input type="checkbox" value="yes" name="surgery" class="checkYes" disabled>
                            <label for="surgeryNo">No</label>
                            <input type="checkbox" value="no" name="surgery" disabled checked>
                        </div>
                    </div>
                    <textarea name="surgery" id="" disabled></textarea>
                </div>

                <div class="issues-container has-check check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="pain">Pain</label>

                        <div class="container-select">
                            <label for="painYes">Yes</label>
                            <input type="checkbox" value="yes" class="checkYes" name="pain" disabled>
                            <label for="painNo">No</label>
                            <input type="checkbox" value="no" name="pain" disabled checked>
                        </div>
                    </div>
                    <textarea name="pain" id="" disabled></textarea>
                </div>
                
                <div class="issues-container check-container">
                    <div class="issues-row">
                        <label for="hypertension">Hypertension</label>
                        <div class="container-select">
                            <label for="hyperYes">Yes</label>
                            <input type="checkbox" value="yes" 
                            name="hypertension" class="checkYes" disabled>
                            <label for="hyperNo">No</label>
                            <input type="checkbox" value="no" name="hypertension" id="hyperNo" disabled checked>
                        </div>
                    </div>
                </div>
                
                <div class="issues-container check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="heartDisease">Heart Disease</label>

                        <div class="container-select">
                            <label for="heartYes">Yes</label>
                            <input type="checkbox" value="yes" class="checkYes" name="heartDisease" disabled checked>
                            <label for="heartNo">No</label>
                            <input type="checkbox" value="no" name="heartDisease" disabled >
                        </div>
                    </div>
                </div>
                
                <div class="issues-container check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="hearingIssues">Hearing Issues</label>

                        <div class="container-select">
                            <label for="hearingYes">Yes</label>
                            <input type="checkbox" value="yes" class="checkYes" name="hearingIssues" disabled>
                            <label for="hearingNo">No</label>
                            <input type="checkbox" value="no" name="hearingIssues" disabled checked>
                        </div>
                    </div>
                </div>
                
                <div class="issues-container check-container">
                    <div class="issues-row">
                        <!-- <h4 class="issues-name"></h4> -->
                        <label for="labyrinthitis">Labyrinthitis</label>

                        <div class="container-select">
                            <label for="labyYes">Yes</label>
                            <input type="checkbox" value="yes" class="checkYes" name="labyrinthitis" disabled>
                            <label for="labyNo">No</label>
                            <input type="checkbox" value="no" name="labyrinthitis" disabled checked>
                        </div>
                    </div>
                </div>
            </div>

            <div class="others">
                <h3 class="others-title title">Others</h3>  
                <div class="others-container check-container">
                    <div class="others-row">
                        <!-- <h4 class="others-name"></h4> -->
                        <label for="alreadyPracticed">Already ever practiced Yoga</label>

                        <div class="container-select">
                            <label for="practicedYes">Yes</label>
                            <input type="checkbox" value="yes" class="checkYes" name="alreadyPracticed"  disabled>
                            <label for="practicedNo">No</label>
                            <input type="checkbox" value="no" name="alreadyPracticed" checked disabled />
                        </div>
                    </div>
                </div>

                <div class="others-container has-check check-container">
                    <div class="others-row">
                        <!-- <h4 class="others-name"></h4> -->
                        <label for="anyExercise">Practice any exercise</label>

                        <div class="container-select">
                            <label for="anyExerYes">Yes</label>
                            <input type="checkbox" value="yes" class="checkYes" name="anyExercise" disabled checked>
                            <label for="anyExerNo">No</label>
                            <input type="checkbox" value="no" name="anyExercise" disabled >
                        </div>
                    </div>
                    <textarea name="anyExercise" id="" disabled value=""></textarea>
                </div>

                <div class="others-container has-check check-container">
                    <div class="others-row">
                        <!-- <h4 class="others-name"></h4> -->
                        <label for="obs">Observation</label>

                        <div class="container-select">
                            <label for="obsYes">Yes</label>
                            <input type="checkbox" value="yes" class="checkYes" name="obs" checked disabled>
                            <label for="obsNo">No</label>
                            <input type="checkbox" value="no" name="obs" disabled >
                        </div>
                    </div>
                    <textarea name="obs" value="hello" disabled></textarea>
                </div>  
            </div>

            <div class="document-options">
                <a href="" class="document-down">document.pdf ↓</a>
                <a href="" class="document-up">Upload new file ↑</a>
            </div>   

            <div class="buttons-forms">
                <button class="button-save button--disable" disabled type="submit">Save</button>
                <button class="button-cancel button--disable" disabled>Cancel</button>
            </div>
            
        </div>
    </form>
</div>
  

<script src="/script/studentRead.js"></script>
<%- include ('./layout/footer.ejs')-%>