.side-bar{
    background-color: var(--side-background);
    display: flex;
    flex-direction: column;
    width: 240px;
    align-items: center;
    gap: 15px;
    height: 100vh;
    float: left;
    position: fixed;
    top: 0;
    max-height: 100vh;
}

.side-logo{
    background-color: var(--nav-background);
    width: inherit;
    height: 105px;
    text-align: center;
    /* position: fixed; */
    top: 0;
}

.side-item{
    text-decoration: none;
    color: var(--side-color);
}

.side-item:hover{
    color: var(--white);
}

.side-item:first-child {
    margin-top: 1em;
}