/* .remove-student{
    background: #000;
    opacity: 0.3;
} */

.container-opacity{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    content: "";
    top: 0;
    background: #000;
    z-index: 10;
    opacity: 0.6;
}

.box-warning{
    display: none;
    background-color: #ffffff;
    border-radius: 4px;
    position: fixed;
    top: 25vh;
    z-index: 11;
    padding: 40px 57px;
    flex-direction: column;
    gap: 20px;
}

.box-warning .message{
    text-transform: none;
}

.buttons-warning{
    display: flex;
    justify-content: space-evenly;
}

.buttons-warning buttons{
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.warning-yes{
    background-color: var(--active);
}

.warning-no{
    background-color: var(--inactive);
}

.buttons-warning buttons:hover{
    opacity: 0.8;
}


.student{
    margin: 32px 0;
    background-color: var(--white);
    box-shadow: gray 0px 0px 17px -8px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
}

.buttons-container{
    margin: 18px 0 10px;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    gap: 1em;
}

.buttons{
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    cursor: pointer;
}

.button-edit,.button-edit > span{
    color: var(--interested);
}

.button-delete,.button-delete > span{
    color: var(--inactive);
}

.buttons:hover, .buttons:hover span{
    color: #000;
}


.student > div{
    width: inherit;
}

.personal-information{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-profile{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    align-self: center;
}

.email-link{
    text-transform: lowercase;
}


.title{
    margin-bottom: 10px;
}

.address, .issues, .others{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.address-container{
    display: flex;
    flex-direction: row;
    width: 395px;
    justify-content: space-between;
}

.issues-container, .others-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.issues-row, .others-row{
    display: flex;
    flex-direction: row;
    width: 395px;
    position: relative;
    justify-content: space-between;
}

.others-row h4{
    text-transform: none;
}

.document-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0 16px;
    width: 395px !important;
}

.issues-container textarea, .others-container textarea{
    /* width: 300px; */
    resize: none;
    /* pointer-events: none; */
}


/* .issues-row textarea, .others-row textarea{

} */