/* .remove-student{
    background: #000;
    opacity: 0.3;
} */

.container-opacity{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    content: "";
    top: 0;
    background: #000;
    z-index: 10;
    opacity: 0.6;
}

.box-warning{
    display: none;
    background-color: #ffffff;
    border-radius: 4px;
    position: fixed;
    top: 25vh;
    z-index: 11;
    padding: 40px 57px;
    flex-direction: column;
    gap: 20px;
}

.box-warning .message{
    text-transform: none;
}

.buttons-warning{
    display: flex;
    justify-content: space-evenly;
}

.buttons-warning buttons{
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    color: var(--light);
}

.warning-yes{
    background-color: var(--success);
}

.warning-no{
    background-color: var(--danger);
}

.buttons-warning buttons:hover{
    opacity: 0.8;
}


.student{
    margin: 32px 0;
    background-color: var(--white);
    box-shadow: gray 0px 0px 17px -8px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
}

.buttons-container{
    margin: 18px 0 10px;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    gap: 1em;
}

.buttons{
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.button-edit,.button-edit > span{
    color: var(--info);
}

.button-delete,.button-delete > span{
    color: var(--danger);
}

.buttons:hover, .buttons:hover span{
    opacity: 0.85;
    scale: 1.1;
}


.student > div{
    width: inherit;
}

.personal-information{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.personal-container, .column-address{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.img-profile{
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    align-self: center;
}

.input-editing{
    border: 1px solid var(--dark) !important;

}

.student input{
    border: none;
    background: none;
    padding: 3px !important;
    font-size: 16px;
    text-transform: none;
}

input::placeholder{
    color: #000;
}

.labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name{
    font-size: 22px !important;
    font-weight: 700;  
}

.email-link{
    text-transform: lowercase;
}

.title{
    margin-bottom: 10px;
}

.address, .issues, .others{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 16px;
}

.address-container{
    display: flex;
    flex-direction: column;
}


.column-address .labels{
    justify-content: space-between;
}

.column-address input{
    width: 140px !important;
}


.issues-container, .others-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.issues-row, .others-row{
    display: flex;
    flex-direction: row;
    width: 395px;
    position: relative;
    justify-content: space-between;
}

.others-row h4{
    text-transform: none;
}

.document-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0 16px;
    width: 395px !important;
}

.issues-container textarea, .others-container textarea{
    /* width: 300px; */
    resize: none;
    /* pointer-events: none; */
}


.button--disable{
    background: #007bff96 !important;
    cursor: auto !important;
}

.button--disable:hover{
    scale: 1 !important;
}

.button-save{
    padding: 8px 90px;
    font-size: 16px;
    margin: 20px 0 45px;
    background: var(--primary);
    color: var(--light);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}



.button-save:hover{
    background: var(--primary);
    opacity: 8.5;
    scale: 1.01;
}


/* .issues-row textarea, .others-row textarea{

} */