:root{
    --side-color: #b7c0cd;
    --side-background: #333333;
    --body-background: #f2f7fb;
    --nav-background: #263544;
    --color-table: #212529;
    --white: #fff;
    --light: #f8f9fa;
    --dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    /* --inactive: #FF5370;
    --active: #2ED8B6;
    --interested: rgb(0, 98, 204);
    --submit: #28a745; */
    /* #f2f7fb; */
    /* #212529; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #000;
    text-transform:capitalize;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

.principal-content{
    width: auto;
    margin-left: 240px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-background);
    min-height: 100vh;
}

