<div class="container-nav">
    <div class="nav-filter">
        <div class="container-search">
            <div class="search">
                <input type="text" name="busca" id="" placeholder="Search student...">
                <span class="material-symbols-outlined">
                    search
                </span> 
            </div>
        </div>
        <div class="filters">
            <h3 class="title-filters">Filters</h3>
            <div class="container-filters">
                <div class="filters-column">
                    <span>
                        <input type="checkbox" name="actives" id="actives">
                        <label for="actives">Actives</label>
                    </span>
                    <span>
                        <input type="checkbox" name="inactive" id="inactive">
                        <label for="inactive">Inactive</label>
                    </span>
                    <span>
                        <input type="checkbox" name="interested" id="interested">
                        <label for="interested">Interested</label>
                    </span>               
                </div>
                <div class="filters-column">
                    <span>
                        <input type="checkbox" name="orderingCrescent" id="orderingCrescent">
                        <label for="orderingCrescent">A-Z</label>
                    </span>
                    <span>
                        <input type="checkbox" name="paid" id="paid">
                    <label for="paid">Paid</label>
                    </span>
                    <span>
                        <input type="checkbox" name="maleFemale" id="maleFemale">
                        <label for="maleFemale"  >Male-Female</label>
                    </span>       
                </div>
                <div class="filters-column">
                    <span>
                        <input type="checkbox" name="orderingDecrescent" id="orderingDecrescent">
                        <label for="orderingDerescent" >Z-A</label>
                    </span>
                    <span>
                        <input type="checkbox" name="unpaid" id="unpaid">
                        <label for="unpaid" >Unpaid</label>
                    </span>
                    <span>
                        <input type="checkbox" name="femaleMale" id="femaleMale">
                        <label for="femaleMale"  >Female-Male</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>