<div class="side-bar">
    <div class="side-logo">
        <a href="/" class="link-logo" >
            <img src="/images/logo.png" width="100px" height="100px" class="logo" alt="logo of a yoga practioner">
        </a>
    </div>
    <a href="/" class="side-item">Index</a>
    <a href="/students" class="side-item">Students</a>
    <a href="/notifications" class="side-item">Notifications</a>
    <a href="/payments" class="side-item">Payments</a>
</div>