<div class="side-bar">
    <a href="/" class="side-item">Index</a>
    <a href="/students" class="side-item">Students</a>
    <a href="/notifications" class="side-item">Notifications</a>
    <a href="/payments" class="side-item">Payments</a>
</div>